.category {
    color: lightslategray;
    display: inline-block;
    background-color: #ffffff;
    margin: 5px;
    padding-right: 7px;
    padding-left: 3px;
}

#category_inp {
    text-align: right;
    width: 80%;
    margin: auto;
}