{% load staticfiles %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Aseem">

    <title>Search Bookmarks</title>
</head>

<body>
<!-- Sidebar -->
<section id="sidebar-wrapper">
    <br><br>
    <input type="text" class="form-control" id="category_inp" placeholder="Category" autofocus>

    <div id="category_list_search">
    </div>
</section>

<section id="body-wrapper">
    <section class="navbar navbar-fixed-top" id="top-wrapper">
        <input type="text" class="img-rounded box" id="bookmark-name" autofocus placeholder="Name of Bookmark"
               size="40">
        <input type="text" class="img-rounded box" id="bookmark-url" autofocus placeholder="URL" size="80">
        <input type="text" class="img-rounded" id="category-box" autofocus placeholder="Category" size="35">

        <div id="category_list_add">
        </div>
    </section>

    <!-- Page content -->
    <section id="page-content-wrapper">
        <h1 class="content-header">
            <img src="{% static 'BookMarker/img/download.jpg' %}" id="add-bookmark" title="Edit Bookmarks/categories">
            BookMarks
        </h1>

        <div id="bookmarks-list">
        </div>

        <div id="notification-bar">

        </div>
    </section>
</section>

<!-- Libraries Include -->
{% include 'BookMarker/partials/libraries.html' %}

<!-- Custom CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'BookMarker/css/bookmarker.css' %}">

<!-- Custom JavaScript -->
<script src="{% static 'BookMarker/js/auxiliary.js' %}"></script>
<script src="{% static 'BookMarker/js/repository.js' %}"></script>
<script src="{% static 'BookMarker/js/bookmarkerEvent.js' %}"></script>
<script src="{% static 'BookMarker/js/category.js' %}"></script>
<script src="{% static 'BookMarker/js/bookmark.js' %}"></script>
<script src="{% static 'BookMarker/js/section.js' %}"></script>
<script src="{% static 'BookMarker/js/bookmarker.js' %}"></script>
</body>
</html>
