{% load staticfiles %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Aseem">

    <title>Search Bookmarks</title>
</head>

<body id="wrapper"></body>

<div class="navbar navbar-fixed-top" id="top-wrapper">
    <input type="text" class="img-rounded box" id="bookmark-name" autofocus placeholder="Name of Bookmark" size="40">
    <input type="text" class="img-rounded box" id="bookmark-url" autofocus placeholder="URL" size="80"><br>

</div>

<!-- Sidebar -->
<div id="sidebar-wrapper">
    <br><br>
    <input type="text" class="form-control" id="category_inp" placeholder="Category" autofocus>

    <div id="category_list">
    </div>
</div>

<!-- Page content -->
<div id="page-content-wrapper">
    <h1 class="content-header">
        <img src="{% static 'BookMarker/img/download.jpg' %}" class="add-category" style="height: 15px; width: 15px">
        BookMarks
    </h1>

    <div class="page-content" id="bookmarks">
    </div>
</div>

<!-- Libraries Include -->
{% include 'BookMarker/partials/libraries.html' %}

<!-- Custom CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'BookMarker/css/bookmarker.css' %}">

<!-- Custom JavaScript -->
<script src="{% static 'BookMarker/js/bookmarker.js' %}"></script>
</body>
</html>
