<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Aseem">

    <title>Search Page</title>
</head>

<body>
{% load staticfiles %}
<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <div class="sidebar-nav">
            <br><br>
            <input type="text" class="form-control" id="category_inp" placeholder="Category" autofocus>

            <div id="category_list">
            </div>
        </div>
    </div>

    <!-- Page content -->
    <div id="page-content-wrapper">
        <div class="content-header">
            <h1>
                BookMarks
            </h1>
        </div>
        <!-- Keep all page content within the page-content inset div! -->
        <div class="page-content inset">
            {% for bookmark in bookmarks %}
                <div class="col-md-12">
                    <div class="bookmark-class {{ bookmark.id }}">{{ bookmark }}</div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<!-- Bootstrap core CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'BookMarker/css/bootstrap.css' %}">

<!-- Add custom CSS here -->
<link rel="stylesheet" type="text/css" href="{% static 'BookMarker/css/simple-sidebar.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'BookMarker/css/bookmarker.css' %}">


<!-- CDNs -->
<link rel="stylesheet" type="text/css" href="{% static 'BookMarker/css/jquery-ui-1.10.4.css' %}" media="all"/>
<script type="text/javascript" src="{% static 'BookMarker/js/jquery-2.1.1.js' %}"></script>
<script type="text/javascript" src="{% static 'BookMarker/js/bootstrap.js' %}"></script>
<script type="text/javascript" src="{% static 'BookMarker/js/jquery-ui.min-1.8.16.js' %}"></script>

<!-- Custom JavaScript -->
<script src="{% static 'BookMarker/js/search.js' %}"></script>
</body>
</html>
