{% load staticfiles %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Aseem">

    <title>Search Bookmarks</title>
</head>

<body id="wrapper">

<!-- Sidebar -->
<div id="sidebar-wrapper">
    <br><br>
    <input type="text" class="form-control" id="category_inp" placeholder="Category" autofocus>

    <div id="category_list">
    </div>
</div>

<!-- Page content -->
<div id="page-content-wrapper">
    <h1 class="content-header">
        BookMarks
    </h1>

    <div class="page-content" id="bookmarks">
    </div>
</div>

<!-- Libraries Include -->
{% include 'BookMarker/partials/libraries.html' %}

<!-- Custom CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'BookMarker/css/search.css' %}">

<!-- Custom JavaScript -->
<script src="{% static 'BookMarker/js/search.js' %}"></script>
</body>
</html>
